*::before ::after{
    padding: 0;  
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://images.unsplash.com/photo-1573164713988-8665fc963095?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");;
}
nav{
position: sticky;
top: 0;
text-align: center;
justify-content: center;
height: 20px;
border-radius: 20px;
padding: 2rem;
background-color: #fff;
border: solid 1px black;
}
nav h1{
  display: inline;  
  margin: 150px;
 justify-content: left;
 align-content: end;
}
main{
/* background-image: url("https://images.unsplash.com/photo-1573164713988-8665fc963095?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
height: auto;
padding: 2rem;
justify-content: space-between;
align-items: center;

}
article{
/* background-color: #fff; */
height: auto;
width: 100%
justify-content: space-between;

}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
}
footer{
position: sticky;
top: 0;
display: flex;
justify-content: space-around;
height: 20px;
border-radius: 20px;
padding: 2rem;
background-color: #fff;
border: solid 1px black;
    /* background-color: rgb(175, 110, 235); */
}
#Home{
    background-color: rgba(136, 136, 231, 0.692);
    width: 50%;
    height: auto;
    padding: 2rem;
    border-radius: 10px;
    flex-grow: 1;
    align-items: flex-end;
}
#About{
background-color: rgba(136, 136, 231, 0.692);
height: auto;
width: 50%;
border-radius: 10px;
flex-grow: 1;
}

#Project-1{
background-color: rgba(136, 136, 231, 0.692);
width: 50%;
height: auto;
border: 1px solid black; 

}

#Project-2{
    background-color: rgba(136, 136, 231, 0.692);
    width: 50%;
    height: auto;   
    border: 1px solid black; 
}
#Project-3{
background-color: rgba(136, 136, 231, 0.692);
width: 50%;
height: auto;  
border: 1px solid black; 
}

#copyrights{
justify-content: center;
}
/* #Arrow{
position: sticky;
} */