*::before ::after{
box-sizing: border-box;
}
.Container-Header{
background-color: grey;
display: flex;

}
.Container-Home{

} 
.logo{
    width: 30px;
    height: auto;
}
.Container .About{
    position: absolute;
    padding: 2rem;
    background-color: black;
    top: 0%;
    text-align: left;
}
.Container-Projects{
margin: 50px;
width: 80%;
padding: 2rem;
display: flex;
background-color: grayscale;
font-style: oblique;
}
#myproject.box{
padding: 2rem;
box-shadow: 2px 2px 8px rgba(red, green, blue, alpha);
text-align: right;
}
.Container-Contact{
    position: sticky;


}
.Container-Footer{
text-align: center;
display: flex;
justify-content: center;

}